<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app_server/stylesheets/dist/layout.css">
    <link rel="stylesheet" href="/app_server/stylesheets/dist/index.css">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="cloudfan-logo" src="public/images/global/global-cloudfan-logo-hollow.png"/>
          </a>
          <a class="navbar-brand" href="/">
            cloudFan
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {{{ body }}}
    <footer>
      <div class="cloudFan-footer row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="col-xs-12 col-sm-2">
            <img src="public/images/global/global-cloudfan-logo-emblem.png"/>
          </div>
          <div class="col-xs-12 col-sm-5">
            <span>&copy {{ copyright }}</span>
            <span> Developer: {{ developer }}</span>
          </div>
          <div class="col-xs-12 col-sm-5">
          <span> Contact: {{ contact }}</span>
          <span> GitHub Repositories: <a href="{{ github }}">{{ github }}</a></span>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script type="text/javascript" src="/public/libs/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
